p {
  margin: 0;
}

.historyOrder {
  margin-top: 20px;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2d2d2f;
  }
  &__items {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }
  &__item {
    width: 100%;
    padding: 20px;
    border: 1px solid #aec2ea;
    border-radius: 32px;
    color: #727280;
  }
  &__dateBlock {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
  }
  &__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
  &__more {
    cursor: pointer;
    color: #2967ff;
  }
  &__titleText {
    font-weight: 500;
    font-size: 12px;
    span {
      font-weight: 600;
      color: #2d2d2f;
    }
  }
  &__statusBlock {
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
  }
  &__status {
    margin: 0;
  }
  &__number {
    span {
      color: #2967ff;
    }
  }
  &__detailsBlock {
    display: flex;
    column-gap: 20px;
    //justify-content: space-between;
  }
  &__countProd {
  }
  &__sum {
  }
  &__delivery {
  }
}
